.peliCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.peliCard:hover {
    opacity: 0.8;
  }

.peliImage{
    border-radius: 10px;
    background-color: azure;
}

@media (max-width: 560px) {
    .peliImage{
        width: 90%;
        height: auto;
    }
}